.intro {
    position: relative;
    background-image: url('../images/logo.png');
    background-size: cover;
    background-position: center;
}

/* 배경 이미지를 반투명 검정으로 가리기 */
.intro_dark {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.67);
}

.intro_type {
    display: inline-flex;
    gap: 0.32em;
    font-family: var(--font-code);
    font-size: 2.8em;
    font-weight: bold;
    color: white;
}

/* 모바일 */
@media (max-width: 768px) {
    .intro {
    height: 100vh;
    }
}
.intro__type {
    margin-top: 36vh;
    flex-direction: column;
    text-align: left;
}

 /* pc */
@media (min-width: 769px) {
    .intro {
    height: 500px;
    }
.intro__type {
    margin-top: 172px;
    align-items: center;
}
.intro__type span {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.25em;
}
}