.intro {
    position: relative;
    background-image: url('../images/logo.png');
    background-size: cover;
    background-position: center;
}

/* 배경 이미지를 반투명 검정으로 가리기 */
.intro_dark {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.67);
    display: flex;
    justify-content: center;
    align-items: center;   
}

.intro_type {
    display: inline-flex;
    gap: 0.32em;
    font-family: var(--font-code);
    font-size: 2.8em;
    font-weight: bold;
    color: white;
}

/* 깜빡이  */
@keyframes blink {
    from { opacity: 0; }
    to { opacity: 1; }
}
.intro_type .underscore {
    animation-name: blink;
    animation-duration: 0ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* 하단 도형 */
[class^="intro_tilt"] {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background: linear-gradient(to right, #615857, #c6c6c6);
    clip-path: polygon(100% 90%, 100% 100%, 0 100%, 0 0);
}
.intro_tilt--flip {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 90%);
    opacity: 0.5;
}

/* 모바일 */
@media (max-width: 768px) {
    .intro {
    height: 100vh;
    }
}
.intro_type {
    margin-top: 36vh;
    flex-direction: column;
    text-align: left;
}

 /* pc */
@media (min-width: 769px) {
    .intro {
    height: 500px;
    }
.intro_type {
    margin-top: 172px;
    align-items: center;
}
.intro_type span {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.25em;
}
}